

.chart-container {
    width: 100%;
}

@media(max-width: 320px) {
    .chart-container {
        height: 200px;
    }
}

@media(min-width: 321px) {
    .chart-container {
        height: 320px;
    }
}

@media(min-width: 481px) {
    .chart-container {
        height: 320px;
    }
}

@media(min-width: 781px) {
    .chart-container {
        height: 640px;
    }
}

.axis path,
.axis line {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
    stroke-opacity: 0.2;
}

.axis text.label {
    fill: #000000;
    font-size: 150%;
}

.dot {
    stroke: #000000;
    fill-opacity: 0.6;
}

.dot:hover {
    fill-opacity: 1;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 0.8rem;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.7);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

.d3-tip .title {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    color: #a9ddf0;
}

.d3-tip > div {
    margin-bottom: 0.2em;
}

.d3-tip .caption {
    color: #96c8da;
}

.d3-tip .caption::after {
    content: ': ';
}

.d3-tip .value {
    font-size: 1rem;
}