.app {
}

.top-coins-selector > span {
    margin-right: 0.4em;
}

.top-coins-selector {
    margin-bottom: 2em;
}

.header {
    padding: 1em;
}

.header a:not(:last-child) {
    margin-right: 0.5em;
}

.content {
    padding: 0 2em 2em;
}